@import "../assets/hamburger";
@import "./headerLeft";
@import "./headerRight";
@import "./mobileNav";
@import "./NavBar";

header {
    height: 100px;
    display: flex;
    align-items: center;
    background: $white1;
    position: relative;
    @media screen and (max-width: 1020px) {
        height: 70px;
        padding: 10px 15px;
    }
    @media screen and (max-width: 770px) {
        justify-content: space-between;
    }

    .header__container {
        padding: 25px 33px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        flex-grow: 1;
        @media screen and (max-width: 770px) {
            padding: 0;
            flex-grow: 0;
            position: absolute;
            top: 70px;
            left: 0;
            flex-direction: column;
            width: 100vw;
            height: calc(100vh - 70px);

            overflow-y: hidden;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }
    .header__logo {
        display: block;
        height: 51px;
        margin: 0 7px 0 32px;
        @media screen and (max-width: 1020px) {
            margin: 0 7px 0 0;
        }

        @media screen and (max-width: 770px) {
            height: 40px;
        }

        svg {
            height: 100%;
        }
    }
}
