*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: SoDoSans, sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 100px;
  padding: 25px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
@media screen and (max-width: 1020px) {
  header {
    height: 70px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 770px) {
  header {
    padding: 15px;
  }
}
header .hamburger {
  display: none;
}
@media screen and (max-width: 770px) {
  header .hamburger {
    display: block;
    position: relative;
    height: 12px;
    width: 15px;
  }
  header .hamburger .bar1,
header .hamburger .bar3 {
    transition: rotate 0.15s ease, translate 0.15s 0.2s ease;
  }
  header .hamburger .bar1,
header .hamburger .bar2,
header .hamburger .bar3 {
    height: 2px;
    width: 100%;
    background-color: #1f1f1f;
    position: absolute;
  }
  header .hamburger .bar1 {
    top: 0;
  }
  header .hamburger .bar2 {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.1s 0.2s ease;
  }
  header .hamburger .bar3 {
    bottom: 50%;
    bottom: 0;
  }
  header .hamburger.active .bar1,
header .hamburger.active .bar3 {
    transition: translate 0.15s ease, rotate 0.15s 0.2s ease;
  }
  header .hamburger.active .bar1 {
    translate: 0 5px;
    rotate: 45deg;
  }
  header .hamburger.active .bar2 {
    opacity: 0;
  }
  header .hamburger.active .bar3 {
    translate: 0 -5px;
    rotate: -45deg;
  }
}

.header__left {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__left .header__logo {
  display: block;
  height: 100%;
}
.header__left .header__logo svg {
  height: 100%;
}
@media screen and (max-width: 770px) {
  .header__left nav {
    display: none;
  }
}
.header__left ul {
  display: flex;
  align-items: center;
}
.header__left ul .main__li {
  margin-left: 25px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.13rem;
  font-size: 1.15rem;
  color: #1f1f1f;
  font-style: normal;
}
@media screen and (max-width: 1020px) {
  .header__left ul .main__li {
    margin-left: 15px;
  }
}
.header__left ul .main__li:hover {
  color: #00653e;
}
.header__left ul .main__li:nth-child(1) {
  margin-left: 40px;
}
@media screen and (max-width: 1420px) {
  .header__left ul .main__li:nth-child(7) {
    display: none;
  }
}
.header__left ul .main__li:nth-child(6) {
  width: fit-content;
}
@media screen and (max-width: 1250px) {
  .header__left ul .main__li:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header__left ul .main__li:nth-child(5), .header__left ul .main__li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .header__left ul .main__li:nth-child(3) {
    display: none;
  }
}
.header__left ul .main__li:nth-child(8) {
  display: none;
  margin-right: 30px;
}
.header__left ul .main__li:nth-child(8).active svg {
  rotate: -180deg;
}
.header__left ul .main__li:nth-child(8):hover svg {
  background-color: #edebe9;
}
.header__left ul .main__li:nth-child(8) a {
  display: flex;
  height: 15px;
}
.header__left ul .main__li:nth-child(8) svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  translate: 0 -25%;
  transition: rotate 0.3s ease-in-out;
}
@media screen and (max-width: 1420px) {
  .header__left ul .main__li:nth-child(8) {
    display: block;
  }
}

ul #side__nav {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  color: red;
  align-items: center;
}
.header__right {
  min-width: 360px;
  max-width: 500px;
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
@media screen and (max-width: 1020px) {
  .header__right {
    margin-right: 0px;
  }
}
.header__right a {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__right a:hover {
  color: #6c6c6c;
  fill: #6c6c6c;
}
.header__right a span {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 5px;
}
.header__right a svg {
  height: 100%;
}
.header__right .header__btns {
  display: flex;
}
.header__right .header__btns button {
  margin: 0 6px;
}

.btn {
  border-radius: 999px;
  border: 1px solid #000000;
  padding: 9px 17px;
  line-height: 14px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

.header__btn {
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
.header__btn:hover {
  background: #f7f7f7;
}
.header__btn.reverse {
  background: #000000;
  color: #ffffff;
}
.header__btn.reverse:hover {
  background: #3e3e3e;
}

/*# sourceMappingURL=styles.css.map */
