@import url("../../../public/assets/fonts/SoDoSans/stylesheet.css");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "SoDo Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "SoDo Sans", sans-serif;
}

.btn {
  border-radius: 999px;
  border: 1px solid #000000;
  padding: 9px 17px;
  line-height: 14px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

.header__btn {
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
.header__btn:hover {
  background: #f7f7f7;
}
.header__btn.reverse {
  background: #000000;
  color: #ffffff;
}
.header__btn.reverse:hover {
  background: #3e3e3e;
}

.main__btn {
  border-color: #008248;
  color: #008248;
  transition: all 0.2s ease-in-out;
}
.main__btn:hover {
  background: #d4e9e2;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 770px) {
  .hamburger {
    display: block;
    position: relative;
    height: 12px;
    width: 15px;
    cursor: pointer;
    border-radius: 50%;
  }
  .hamburger:hover {
    background-color: #edebe9;
  }
  .hamburger .bar1,
.hamburger .bar3 {
    transition: rotate 0.15s ease, translate 0.15s 0.2s ease;
  }
  .hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
    height: 2px;
    width: 100%;
    background-color: #1f1f1f;
    position: absolute;
  }
  .hamburger .bar1 {
    top: 0;
  }
  .hamburger .bar2 {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.1s 0.2s ease;
  }
  .hamburger .bar3 {
    bottom: 50%;
    bottom: 0;
  }
  .hamburger.active .bar1,
.hamburger.active .bar3 {
    transition: translate 0.15s ease, rotate 0.15s 0.2s ease;
  }
  .hamburger.active .bar1 {
    translate: 0 5px;
    rotate: 45deg;
  }
  .hamburger.active .bar2 {
    opacity: 0;
  }
  .hamburger.active .bar3 {
    translate: 0 -5px;
    rotate: -45deg;
  }
}

.header__left {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.header__left ul {
  display: flex;
  align-items: center;
}
.header__left ul .menu__li ul {
  display: none;
}
.header__left ul .menu__li a svg {
  display: none;
}
.header__left ul .main__li {
  margin-left: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.13rem;
  font-size: 1.3rem;
  color: #1f1f1f;
  font-style: normal;
}
@media screen and (max-width: 1020px) {
  .header__left ul .main__li {
    margin-left: 15px;
  }
}
.header__left ul .main__li:hover {
  color: #00653e;
}
.header__left ul .main__li:nth-child(1) {
  margin-left: 0px;
}
@media screen and (max-width: 1420px) {
  .header__left ul .main__li:nth-child(7) {
    display: none;
  }
}
.header__left ul .main__li:nth-child(6) {
  width: fit-content;
}
@media screen and (max-width: 1250px) {
  .header__left ul .main__li:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header__left ul .main__li:nth-child(5), .header__left ul .main__li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .header__left ul .main__li:nth-child(3) {
    display: none;
  }
}
.header__left ul .main__li:nth-child(8) {
  display: none;
  margin-right: 30px;
  position: relative;
}
.header__left ul .main__li:nth-child(8).active svg {
  rotate: -180deg;
}
.header__left ul .main__li:nth-child(8):hover svg {
  background-color: #edebe9;
}
.header__left ul .main__li:nth-child(8) svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  translate: 0 -25%;
  transition: rotate 0.3s ease-in-out;
}
@media screen and (max-width: 1420px) {
  .header__left ul .main__li:nth-child(8) {
    display: flex;
    height: 15px;
  }
}

.header__right {
  min-width: 360px;
  max-width: 500px;
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
@media screen and (max-width: 1020px) {
  .header__right {
    margin-right: 0px;
  }
}
.header__right a {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__right a:hover {
  color: #6c6c6c;
  fill: #6c6c6c;
}
.header__right a span {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 5px;
}
.header__right a svg {
  height: 100%;
}
.header__right .header__btns {
  display: flex;
}
.header__right .header__btns button {
  margin: 0 6px;
}

@media screen and (max-width: 770px) {
  header .header__container {
    overflow-x: hidden;
    z-index: 10;
  }
  header .header__container.active {
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }
  header .header__container.active .header__left,
header .header__container.active .header__right {
    transform: translateX(0);
  }
  header .header__container .header__left,
header .header__container .header__right {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  header .header__container .header__left {
    background-color: #ffffff;
    width: calc(100% - 70px);
    height: auto;
    align-items: baseline;
  }
  header .header__container .header__left nav {
    width: 100%;
    align-items: baseline;
    padding: 40px 0;
    position: relative;
  }
  header .header__container .header__left nav::before {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    background: #edebe9;
    position: absolute;
    bottom: 0;
    left: 25px;
  }
  header .header__container .header__left ul {
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  header .header__container .header__left ul .menu__li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }
  header .header__container .header__left ul .menu__li a svg {
    height: 50%;
    width: 30px;
  }
  header .header__container .header__left ul .menu__li.active ul {
    transform: translateX(0);
  }
  header .header__container .header__left ul .menu__li ul {
    display: flex;
    position: absolute;
    background: #ffffff;
    top: -40px;
    left: 0;
    height: 700px;
    width: 100%;
    z-index: 1;
    justify-content: flex-start;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
  }
  header .header__container .header__left ul .menu__li ul li {
    display: flex;
    align-items: center;
    padding-left: 25px;
    width: 100%;
    height: 56px;
  }
  header .header__container .header__left ul .menu__li ul li:hover {
    background: #edebe9;
  }
  header .header__container .header__left ul .menu__li ul li:nth-child(1) {
    background: #edebe9;
  }
  header .header__container .header__left ul .menu__li ul li:nth-child(1) svg {
    height: 50%;
    margin-right: 10px;
    pointer-events: none;
  }
  header .header__container .header__left ul .main__li {
    width: 100%;
    height: 56px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #1f1f1f;
    padding: 0 30px;
    line-height: 56px;
    min-width: 230px;
    cursor: pointer;
  }
  header .header__container .header__left ul .main__li:hover {
    background: #edebe9;
    width: 100%;
  }
  header .header__container .header__left ul .main__li:nth-child(1), header .header__container .header__left ul .main__li:nth-child(2), header .header__container .header__left ul .main__li:nth-child(7), header .header__container .header__left ul .main__li:nth-child(6), header .header__container .header__left ul .main__li:nth-child(5), header .header__container .header__left ul .main__li:nth-child(4), header .header__container .header__left ul .main__li:nth-child(3) {
    display: block;
    margin: 0px;
  }
  header .header__container .header__left ul .main__li:nth-child(8) {
    display: none;
  }
  header .header__container .header__right {
    flex-direction: column-reverse;
    height: 100%;
    background-color: #ffffff;
    width: calc(100% - 70px);
    align-items: baseline;
    min-width: 0px;
    max-width: none;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
  }
  header .header__container .header__right.active::before {
    transform: translateX(0);
  }
  header .header__container .header__right::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  header .header__container .header__right a {
    margin-left: 25px;
    margin-bottom: 100px;
    height: 38px;
  }
  header .header__container .header__right a:hover {
    color: #6c6c6c;
    fill: #6c6c6c;
  }
  header .header__container .header__right a span {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 5px;
  }
  header .header__container .header__right a svg {
    height: 60%;
  }
  header .header__container .header__right .header__btns {
    margin-left: 25px;
    background-color: #ffffff;
    width: calc(100% - 70px);
    flex-direction: column;
    margin-top: 20px;
  }
  header .header__container .header__right .header__btns button {
    margin-bottom: 15px;
    width: fit-content;
  }
}

.item__drop {
  position: absolute;
  overflow: hidden;
  top: 57px;
  z-index: 3;
}
@media screen and (max-width: 1020px) {
  .item__drop {
    top: 42px;
  }
}
.item__drop #side__nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: white;
  align-items: center;
  padding: 15px 0;
  border-top: 4px solid #edebe9;
  transform: translateY(-110%);
  transition: transform 0.3s ease-in-out;
}
.item__drop #side__nav li {
  pointer-events: all;
  margin: 15px 0;
}
.item__drop #side__nav li a {
  position: relative;
  color: #1f1f1f;
  cursor: pointer;
  z-index: 2;
}
.item__drop #side__nav li a:hover {
  color: #00653e;
}

.active ul#side__nav {
  transform: translateY(0%);
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #ffffff;
  position: relative;
}
@media screen and (max-width: 1020px) {
  header {
    height: 70px;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 770px) {
  header {
    justify-content: space-between;
  }
}
header .header__container {
  padding: 25px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-grow: 1;
}
@media screen and (max-width: 770px) {
  header .header__container {
    padding: 0;
    flex-grow: 0;
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
header .header__logo {
  display: block;
  height: 51px;
  margin: 0 7px 0 32px;
}
@media screen and (max-width: 1020px) {
  header .header__logo {
    margin: 0 7px 0 0;
  }
}
@media screen and (max-width: 770px) {
  header .header__logo {
    height: 40px;
  }
}
header .header__logo svg {
  height: 100%;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 1025px) {
  .grid {
    display: block;
  }
}
.grid__rewards {
  position: relative;
}
@media screen and (max-width: 1025px) {
  .grid__rewards {
    max-height: 500px;
    height: 115vw;
  }
}
.grid__rewards .picture__rewards {
  height: 100vh;
  position: sticky;
  top: 0px;
  background: url("../../../public/assets/img/3031_FR_MOP_Homepage_banner_v01.jpg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1025px) {
  .grid__rewards .picture__rewards {
    background-position: 0px -150px;
    position: relative;
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .grid__rewards .picture__rewards {
    background-position: top;
  }
}
.grid__rewards .btn__container--rewards {
  position: absolute;
  left: 140px;
  bottom: 30px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}
@media screen and (max-width: 1025px) {
  .grid__rewards .btn__container--rewards {
    left: 40px;
  }
}
.grid__rewards .btn__container--rewards .btn__rewards {
  border-color: #ffffff;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.grid__rewards .btn__container--rewards .btn__rewards:hover {
  background: rgba(255, 255, 255, 0.12);
}

.grid__main {
  display: grid;
  padding: 25px 65px 40px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
}
@media screen and (max-width: 1025px) {
  .grid__main {
    padding: 40px 15px 40px 15px;
  }
}
@media screen and (max-width: 770px) {
  .grid__main {
    grid-template-columns: 1fr;
  }
}
.grid__main img {
  width: 100%;
}
.grid__main--pos1 {
  margin-bottom: 65px;
}
@media screen and (max-width: 770px) {
  .grid__main--pos1 {
    margin-bottom: 30px;
  }
}
.grid__main--pos2 {
  padding-left: 40px;
  margin-bottom: 25px;
}
@media screen and (max-width: 770px) {
  .grid__main--pos2 {
    margin-bottom: 110px;
    padding-left: 0;
  }
}
.grid__main--pos2 h3 {
  font-size: 2rem;
  font-size: 600;
  line-height: 2.7rem;
  margin-bottom: 20px;
}
.grid__main--pos2 p {
  margin-bottom: 20px;
}
.grid__main .card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 1px 2px 1px #c4c4c4;
}
.grid__main .card__text {
  padding: 30px 20px;
}
.grid__main .card .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border-top: 1px solid #edebe9;
  padding: 0px 20px;
  cursor: pointer;
  color: #008248;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.grid__main .card .link svg {
  height: 30px;
  fill: #008248;
}
.grid__main .card .link:hover {
  color: #000000;
}
.grid__main .card .link:hover svg {
  fill: #000000;
}
.grid__main--pos3, .grid__main--pos4, .grid__main--pos5, .grid__main--pos6 {
  margin-bottom: 30px;
}
.grid__main--pos3 h4, .grid__main--pos4 h4, .grid__main--pos5 h4, .grid__main--pos6 h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.7rem;
  margin-bottom: 0px;
}
.grid__main--pos3 .main__btn, .grid__main--pos4 .main__btn, .grid__main--pos5 .main__btn, .grid__main--pos6 .main__btn {
  margin: 20px 0;
}
@media screen and (max-width: 770px) {
  .grid__main--pos3 .main__btn, .grid__main--pos4 .main__btn, .grid__main--pos5 .main__btn, .grid__main--pos6 .main__btn {
    margin: 20px 0 0 0;
  }
}

main {
  height: auto;
  color: #1f1f1f;
  background: #f7f7f7;
}
main h2 {
  font-weight: 700;
  font-size: 1.3rem;
  padding-left: 50px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1025px) {
  main h2 {
    padding-left: 15px;
  }
}
main .hero__banner {
  width: 100%;
  height: auto;
  aspect-ratio: 5/2;
}
main .hero__banner img {
  height: 100%;
  width: 100%;
}
main .hero__txt {
  padding: 40px 130px 40px 50px;
}
@media screen and (max-width: 1025px) {
  main .hero__txt {
    padding: 40px 15px 40px 15px;
  }
}
main .hero__txt h1 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 3.7rem;
}
main .hero__txt p {
  margin: 25px 0;
}
main p {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-right: 15px;
}

footer {
  padding: 30px 45px;
}
@media screen and (max-width: 1025px) {
  footer {
    padding: 30px 15px;
  }
}
footer .faq ul {
  border-bottom: 2px solid #c4c4c4;
}
footer .faq ul .active .li__describe svg {
  rotate: 180deg;
}
footer .faq ul .active .li__describe svghover {
  background-color: #edebe9;
}
footer .faq ul .active .faq__side--li {
  max-height: 100rem;
}
footer .faq ul .li__describe {
  display: flex;
  justify-content: space-between;
  height: 88px;
  font-size: 2.3rem;
  line-height: 3.1rem;
  cursor: pointer;
}
footer .faq ul .li__describe svg {
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  transition: rotate 0.2s ease-in-out;
  rotate: 0;
}
footer .faq ul .li__describe svg:hover {
  background-color: #edebe9;
}
footer .faq ul .faq__side--li {
  border: none;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease-in-out;
  transform-origin: top;
}
footer .faq ul .faq__side--li.active {
  transition: max-height 0.1s ease-in-out;
  max-height: 100rem;
}
footer .faq ul .faq__side--li li {
  font-weight: 600;
  font-size: 1.4rem;
  color: #6c6c6c;
  height: 55px;
}
footer .faq ul .faq__side--li li:nth-last-child(1) {
  margin-bottom: 15px;
}
footer .faq ul .faq__side--li li:hover {
  color: #1f1f1f;
}
footer .credit .social__network {
  margin: 40px 0;
  display: flex;
  height: 40px;
}
footer .credit .social__network svg {
  margin-right: 15px;
  fill: #1f1f1f;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}
footer .credit .social__network svg:active {
  scale: 90%;
}
footer .credit ul li {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-bottom: 25px;
  cursor: pointer;
}
footer .credit ul li:hover {
  color: #6c6c6c;
}
footer .credit p {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 10px 0 300px;
}

/*# sourceMappingURL=styles.css.map */
