*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: SoDoSans, sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 770px) {
  .hamburger {
    display: block;
    position: relative;
    height: 12px;
    width: 15px;
  }
  .hamburger .bar1,
.hamburger .bar3 {
    transition: rotate 0.15s ease, translate 0.15s 0.2s ease;
  }
  .hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
    height: 2px;
    width: 100%;
    background-color: #1f1f1f;
    position: absolute;
  }
  .hamburger .bar1 {
    top: 0;
  }
  .hamburger .bar2 {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.1s 0.2s ease;
  }
  .hamburger .bar3 {
    bottom: 50%;
    bottom: 0;
  }
  .hamburger.active .bar1,
.hamburger.active .bar3 {
    transition: translate 0.15s ease, rotate 0.15s 0.2s ease;
  }
  .hamburger.active .bar1 {
    translate: 0 5px;
    rotate: 45deg;
  }
  .hamburger.active .bar2 {
    opacity: 0;
  }
  .hamburger.active .bar3 {
    translate: 0 -5px;
    rotate: -45deg;
  }
}

.header__left {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.header__left ul {
  display: flex;
  align-items: center;
}
.header__left ul .menu__li ul {
  display: none;
}
.header__left ul .menu__li a svg {
  display: none;
}
.header__left ul .main__li {
  margin-left: 25px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.13rem;
  font-size: 1.15rem;
  color: #1f1f1f;
  font-style: normal;
}
@media screen and (max-width: 1020px) {
  .header__left ul .main__li {
    margin-left: 15px;
  }
}
.header__left ul .main__li:hover {
  color: #00653e;
}
.header__left ul .main__li:nth-child(1) {
  margin-left: 0px;
}
@media screen and (max-width: 1420px) {
  .header__left ul .main__li:nth-child(7) {
    display: none;
  }
}
.header__left ul .main__li:nth-child(6) {
  width: fit-content;
}
@media screen and (max-width: 1250px) {
  .header__left ul .main__li:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header__left ul .main__li:nth-child(5), .header__left ul .main__li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .header__left ul .main__li:nth-child(3) {
    display: none;
  }
}
.header__left ul .main__li:nth-child(8) {
  display: none;
  margin-right: 30px;
  position: relative;
}
.header__left ul .main__li:nth-child(8).active svg {
  rotate: -180deg;
}
.header__left ul .main__li:nth-child(8):hover svg {
  background-color: #edebe9;
}
.header__left ul .main__li:nth-child(8) svg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  translate: 0 -25%;
  transition: rotate 0.3s ease-in-out;
}
@media screen and (max-width: 1420px) {
  .header__left ul .main__li:nth-child(8) {
    display: flex;
    height: 15px;
  }
}

.header__right {
  min-width: 360px;
  max-width: 500px;
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
@media screen and (max-width: 1020px) {
  .header__right {
    margin-right: 0px;
  }
}
.header__right a {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__right a:hover {
  color: #6c6c6c;
  fill: #6c6c6c;
}
.header__right a span {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 5px;
}
.header__right a svg {
  height: 100%;
}
.header__right .header__btns {
  display: flex;
}
.header__right .header__btns button {
  margin: 0 6px;
}

@media screen and (max-width: 770px) {
  header .header__container.active {
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }
  header .header__container.active .header__left,
header .header__container.active .header__right {
    transform: translateX(0);
  }
  header .header__container .header__left,
header .header__container .header__right {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  header .header__container .header__left {
    background-color: #ffffff;
    width: calc(100% - 70px);
    height: auto;
    align-items: baseline;
  }
  header .header__container .header__left nav {
    width: 100%;
    align-items: baseline;
    padding: 40px 0;
    position: relative;
  }
  header .header__container .header__left nav::before {
    content: "";
    width: calc(100% - 50px);
    height: 2px;
    background: #edebe9;
    position: absolute;
    bottom: 0;
    left: 25px;
  }
  header .header__container .header__left ul {
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  header .header__container .header__left ul .menu__li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
  }
  header .header__container .header__left ul .menu__li a svg {
    height: 50%;
    width: 30px;
  }
  header .header__container .header__left ul .menu__li.active ul {
    transform: translateX(0);
  }
  header .header__container .header__left ul .menu__li ul {
    display: flex;
    position: absolute;
    background: #ffffff;
    top: -40px;
    left: 0;
    height: 700px;
    width: 100%;
    z-index: 1;
    justify-content: flex-start;
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
  }
  header .header__container .header__left ul .menu__li ul li {
    display: flex;
    align-items: center;
    padding-left: 25px;
    width: 100%;
    height: 56px;
  }
  header .header__container .header__left ul .menu__li ul li:hover {
    background: #edebe9;
  }
  header .header__container .header__left ul .menu__li ul li:nth-child(1) {
    background: #edebe9;
  }
  header .header__container .header__left ul .menu__li ul li:nth-child(1) svg {
    height: 50%;
    margin-right: 10px;
    pointer-events: none;
  }
  header .header__container .header__left ul .main__li {
    width: 100%;
    height: 56px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #1f1f1f;
    padding: 0 30px;
    line-height: 56px;
    min-width: 230px;
    cursor: pointer;
  }
  header .header__container .header__left ul .main__li:hover {
    background: #edebe9;
    width: 100%;
  }
  header .header__container .header__left ul .main__li:nth-child(1), header .header__container .header__left ul .main__li:nth-child(2), header .header__container .header__left ul .main__li:nth-child(7), header .header__container .header__left ul .main__li:nth-child(6), header .header__container .header__left ul .main__li:nth-child(5), header .header__container .header__left ul .main__li:nth-child(4), header .header__container .header__left ul .main__li:nth-child(3) {
    display: block;
    margin: 0px;
  }
  header .header__container .header__left ul .main__li:nth-child(8) {
    display: none;
  }
  header .header__container .header__right {
    flex-direction: column-reverse;
    height: 100%;
    background-color: #ffffff;
    width: calc(100% - 70px);
    align-items: baseline;
    min-width: 0px;
    max-width: none;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
  }
  header .header__container .header__right.active::before {
    transform: translateX(0);
  }
  header .header__container .header__right::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  header .header__container .header__right a {
    margin-left: 25px;
    margin-bottom: 100px;
    height: 38px;
  }
  header .header__container .header__right a:hover {
    color: #6c6c6c;
    fill: #6c6c6c;
  }
  header .header__container .header__right a span {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 5px;
  }
  header .header__container .header__right a svg {
    height: 60%;
  }
  header .header__container .header__right .header__btns {
    margin-left: 25px;
    background-color: #ffffff;
    width: calc(100% - 70px);
    flex-direction: column;
    margin-top: 20px;
  }
  header .header__container .header__right .header__btns button {
    margin-bottom: 15px;
    width: fit-content;
  }
}

.item__drop {
  position: absolute;
  overflow: hidden;
  top: 57px;
}
@media screen and (max-width: 1020px) {
  .item__drop {
    top: 42px;
  }
}
.item__drop #side__nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: white;
  align-items: center;
  padding: 15px 0;
  border-top: 4px solid #edebe9;
  transform: translateY(-110%);
  transition: transform 0.3s ease-in-out;
}
.item__drop #side__nav li {
  pointer-events: all;
  margin: 15px 0;
}
.item__drop #side__nav li a {
  position: relative;
  color: #1f1f1f;
  cursor: pointer;
  z-index: 2;
}
.item__drop #side__nav li a:hover {
  color: #00653e;
}

.active ul#side__nav {
  transform: translateY(0%);
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #ffffff;
  position: relative;
}
@media screen and (max-width: 1020px) {
  header {
    height: 70px;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 770px) {
  header {
    justify-content: space-between;
  }
}
header .header__container {
  padding: 25px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-grow: 1;
}
@media screen and (max-width: 770px) {
  header .header__container {
    padding: 0;
    flex-grow: 0;
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
header .header__logo {
  display: block;
  height: 51px;
  margin: 0 7px 0 32px;
}
@media screen and (max-width: 1020px) {
  header .header__logo {
    margin: 0 7px 0 0;
  }
}
@media screen and (max-width: 770px) {
  header .header__logo {
    height: 40px;
  }
}
header .header__logo svg {
  height: 100%;
}

.btn {
  border-radius: 999px;
  border: 1px solid #000000;
  padding: 9px 17px;
  line-height: 14px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

.header__btn {
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}
.header__btn:hover {
  background: #f7f7f7;
}
.header__btn.reverse {
  background: #000000;
  color: #ffffff;
}
.header__btn.reverse:hover {
  background: #3e3e3e;
}

/*# sourceMappingURL=styles.css.map */
